<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<script src="https://cdn.apple-livephotoskit.com/lpk/1/livephotoskit.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
</head>
<body>

<div class="container">

	<header role="banner">
		<div class="header-logo">
			<a href="/"><img src="{{ .Site.Params.logo }}" width="60" height="60"></a>
		</div>
		{{ if eq $isHomePage true }}
            <h2 class="site-title">{{ .Site.Title }}</h2>
            <a href="page/about">プロフィール</a>
        {{ end }}
	</header>
